body, html {
    height: 100%;
}
  
.parallax {
    /* The image used */
    background-image: url('Title.png');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}

#gradient
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.content {
    background-color: red;
    width: 100%;
    justify-content: center;
    display: flex;
}

.col-lg-4 {
    align-content: center;
    text-align: center;
}

.parallax2 {
    /* The image used */
    background-image: url('Title2.png');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cen{
    text-align: center;
    padding-top: 15rem;

}

.row {
    justify-content: center;
    text-align: center;
}